.header ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 500px;
    margin: 0;
}
.header ul li{
    text-decoration: none;
}

.link{
    margin: 0;
    text-decoration: none;
}
.link h2{
    font-size: 19px;
}
body{
     margin: 0;
     padding: 0;
}
.top{
    display:flex;
    justify-content: space-between;
    background-color: #a89aee;
    padding: 10px;
}
.collegeLink{
    margin: 40px;
}
.active{
    color: rgb(94, 134, 1);
}
.custom-active{
    color: yellowgreen;
}